.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  margin-bottom: 15px;
}

.App-header {
  background-color: rgba(28, 39, 49, 0.733);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  /* font-size: 1.5em; */
  font-family: 'Monoton', cursive;
  background: red;
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5vw;
}

.NavBar {
  width: 100 vw;
  height: 10vh;
  background-color: rgb(73, 188, 223);
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar {
  width: 50vw;
  height: 25px;
  
}

.SearchButton {
  width: 40px;
  height: 30px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}



.UserReviewBox {
  width: 40vw;
	height: 40vw;
	border: 3px solid #cccccc;
	padding: 5px;
  font-family: Tahoma, sans-serif;
  overflow: auto;
}

.CriticReviewBox {
  width: 40vw;
	height: 40vw;
	border: 3px solid #cccccc;
	padding: 5px;
  font-family: Tahoma, sans-serif;
  overflow: scroll;
}


