.App {
  text-align: center;
}

.App-logo {
  height: 4em;
  margin-bottom: 1em;
}

.App-header {
  background-color: rgba(28, 39, 49, 0.733);
  height: 20vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5em;
  font-family: 'Monoton', cursive;
  color: aqua;
  
  /* font-size: 5vw; */
}

.NavBar {
  width: 100 vw;
  height: 10vh;
  background-color: rgba(224, 107, 11, 0.794);
  display: flex;
  justify-content: center;
  align-items: center;
}

.GenerateApplicantsButton {
  background-color: rgb(19, 147, 170); /* Green */
    border: none;
    box-shadow: 2.5px 3px #88888880;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self: center;
}

.ApplicantContainer{
  background-color: whitesmoke;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.Applicant {
  width: 20vw;
  height: 40vh;
  margin: 20px;
  box-shadow: 5px 6px #88888834;
  background-color: rgb(245, 237, 237);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hireButton {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    margin-bottom: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.EmployeeContainer {
  background-color: whitesmoke;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
}

h2 {
  padding: 15px;
  background-color: rgba(28, 39, 49, 0.733);
  color: aqua;
  font-size: 2.5em;
  font-family: 'Monoton', cursive;}

.Employees {
  width: 50vw;
  height: 40vh;
  margin: auto;
  background-color: rgb(245, 237, 237);
  box-shadow: 5px 6px #88888834;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fireButton {
    background-color: rgb(182, 12, 12); /* Green */
    color: white;
    border: none;
    margin-bottom: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}






